<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.androiddemo">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:name=".DemoApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".lambda.LambdaActivity"/>
        <activity android:name=".sp.SpActivity"/>
        <activity android:name=".viewPager.OneActivity"/>
        <activity android:name=".viewPager.TwoActivity"/>
        <activity android:name=".viewPager.FourActivity"/>
        <activity android:name=".rxjava.RxJavaActivity"/>
        <activity android:name=".matisseRxpermission.MatisseRxPermissionActivity"/>
        <activity android:name=".ViewSelf.SelfViewActivity"/>
        <activity android:name=".animation.AnimationActivity"/>
        <activity android:name=".animation.WaveActivity"/>
        <activity android:name=".coordinatorLayout.CoordinatorLayoutActivity"/>
        <activity android:name=".fragment.NewFragmentActivity"/>
        <activity android:name=".edittext.EditTextActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".draw.DrawActivity"/>

        <activity android:name=".support.SupportTextActivity"/>



        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.androiddemo.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths_public" />
        </provider>
    </application>

</manifest>